<div id="header">
    <h1 id="trendcart"><b>TrendCart</b></h1>
    <div style="position:absolute; left:500px; top: 8px;">
        <input type="text" placeholder="Search for products, brands and more..." name="search" style="height:30px; width:500px; font-size:20px; background-color: rgb(82, 76, 76); color: white">
        <button type="submit" class="fa fa-search" style="height:32px; width:32px;position: relative; top:-3px; left: 0px"></button>
    </div>

</div>