<div id="navbar">
    <ul>
        <li><a href="#">Electronics</a>
            <ul>
                <li><a href="#">Mobiles</a></li>
                <li><a href="#">Tablets</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Clocks</a></li>
            </ul>
        </li>
        <li><a href="#">TV & Appliances</a>
            <ul>
                <li><a href="#">Televisions</a></li>
                <li><a href="#">Refridgerators</a></li>
                <li><a href="#">Air Conditioner</a></li>
            </ul>
        </li>
        <li><a href="#">Men</a>
            <ul>
                <li><a href="#">Footwear</a></li>
                <li><a href="#">Clothings</a></li>
                <li><a href="#">Innerwears</a></li>
                <li><a href="#">Watches</a></li>
            </ul>
        </li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Baby & Kids</a></li>
        <li><a href="#">Home & Furniture</a></li>
        <li><a href="#">Sports, Books & More</a></li>
        <li><a href="#">Offer Zone</a></li>
    </ul>
</div>